<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="container">
    <h1>login</h1>
    <form id="signup-form">
      <div class="form-group">
        <label for="id">ID:</label>
        <input type="text" id="id" name="id" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit">login</button>
    </form>
  </div>

  <script src="script.js"></script>
</body>
</html>
